@model OrdersListViewModel

@{
    var currentRoute = "paginationOrder";
    var statuses = Model.OrderStatuses.Where(svm => svm.IsChecked).
        Select(svm => svm.Status).
        ToArray();
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-light border-right shadow-sm p-4">
            <form asp-controller="Order" asp-action="FilterOrdersByStatuses" method="post">
                <label><b>Statuses</b></label>
                @for (int i = 0; i < Model.OrderStatuses.Length; ++i)
                {
                    <div class="form-group mb-1 mt-1">
                        <input type="checkbox" asp-for="@Model.OrderStatuses[i].IsChecked" name="statusViewModels[@i].IsChecked" class="form-check-input"/>
                        <label class="form-check-label" asp-for="@Model.OrderStatuses[i].IsChecked">
                            @Model.OrderStatuses[i].Status
                        </label>
                        <input type="hidden" asp-for="@Model.OrderStatuses[i].Status" name="statusViewModels[@i].Status" />
                    </div>
                }
                <button type="submit" class="btn btn-outline-dark">
                    Apply
                </button>
            </form>
        </div>
        <div class="col-9 p-4" style="overflow-y: auto; height: 700px">
            <partial name="_OrdersTable" model='(Model.Orders, Model.PagingInfo, statuses, currentRoute, "Order", "Details")'></partial>
        </div>
    </div>
</div>