<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset=utf-8 />
    <title>Store</title>
    <link href = "~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href = "~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <div id="nav-bar" class="bg-white text-black p-4 border position-fixed w-100">
        @await Component.InvokeAsync("NavigationBar")
    </div>
    <div id="main-body" class="row">
        @RenderBody()
    </div>
    <script>
        navBar = document.getElementById("nav-bar");
        mainBody = document.getElementById("main-body");
        mainBody.style.paddingTop = navBar.clientHeight + "px";
        function onWindowChangeSize()
        {
            height = navBar.clientHeight;
            mainBody.style.paddingTop = height + "px";
        }
        setInterval(onWindowChangeSize, 250);
    </script>
</body>
</html>